@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,500&display=swap';

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: #1D2434;
    color: #fff;
}

a{
    transition: 0.3s all;
}

p{
    margin: 1em 0;
}

img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}